.car-container{
    position: fixed;
}
.card-table{
    border-collapse: collapse;
    font-size: 18px;
}
.card-table tr:not(:last-child){
    border-bottom: 1px solid lightgray;
}
.grand-price{
    color: darkred;
}
.regularBtn{
    width: 100%;
    border: 1px solid gray;
    padding: 0 10px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 36px;
    border-radius: 5px;
    background: orange;
    cursor: pointer;
    transition: .1s ease-in-out;
}
.regularBtn:active{
    background-color: rgb(207, 230, 0);
}