.counting-box{
    width: 115px;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 !important;
    border-radius: 8px;
    overflow: hidden;
}
.counting-box button{
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
}
.count-display{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgba(39, 39, 39, 0.274);
}